# Regression Week 4: Ridge Regression (interpretation)

In this notebook, we will run ridge regression multiple times with different L2 penalties to see which one produces the best fit. We will revisit the example of polynomial regression as a means to see the effect of L2 regularization. In particular, we will:
* Use a pre-built implementation of regression (GraphLab Create) to run polynomial regression
* Use matplotlib to visualize polynomial regressions
* Use a pre-built implementation of regression (GraphLab Create) to run polynomial regression, this time with L2 penalty
* Use matplotlib to visualize polynomial regressions under L2 regularization
* Choose best L2 penalty using cross-validation.
* Assess the final fit using test data.

We will continue to use the House data from previous notebooks.  (In the next programming assignment for this module, you will implement your own ridge regression learning algorithm using gradient descent.)

# Fire up graphlab create

In [32]:
import graphlab

# Polynomial regression, revisited

We build on the material from Week 3, where we wrote the function to produce an SFrame with columns containing the powers of a given input. Copy and paste the function `polynomial_sframe` from Week 3:

In [2]:
def polynomial_sframe(feature, degree):
    # assume that degree >= 1
    # initialize the SFrame:
    poly_sframe = graphlab.SFrame()
    # and set poly_sframe['power_1'] equal to the passed feature
    poly_sframe['power_1'] = feature
    # first check if degree > 1
    if degree > 1:
        # then loop over the remaining degrees:
        # range usually starts at 0 and stops at the endpoint-1. We want it to start at 2 and stop at degree
        for power in range(2, degree+1): 
            # first we'll give the column a name:
            name = 'power_' + str(power)
            # then assign poly_sframe[name] to the appropriate power of feature
            poly_sframe[name] = feature.apply(lambda x:x**power)
    return poly_sframe

Let's use matplotlib to visualize what a polynomial regression looks like on the house data.

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
sales = graphlab.SFrame('kc_house_data.gl/')

[INFO] This non-commercial license of GraphLab Create is assigned to junchn8@gmail.com and will expire on December 23, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-10096 - Server binary: C:\Users\James\AppData\Local\Dato\Dato Launcher\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\James\AppData\Local\Temp\graphlab_server_1457156730.log.0
[INFO] GraphLab Server Version: 1.8.1

As in Week 3, we will use the sqft_living variable. For plotting purposes (connecting the dots), you'll need to sort by the values of sqft_living. For houses with identical square footage, we break the tie by their prices.

In [5]:
sales = sales.sort(['sqft_living','price'])

Let us revisit the 15th-order polynomial model using the 'sqft_living' input. Generate polynomial features up to degree 15 using `polynomial_sframe()` and fit a model with these features. When fitting the model, use an L2 penalty of `1e-5`:

In [6]:
l2_small_penalty = 1e-5

def plot_poly_predictions(data, model):
    plot_data(data)

    # Get the degree of the polynomial
    deg = len(model.coefficients['value'])-1
    
    # Create 200 points in the x axis and compute the predicted value for each point
    x_pred = graphlab.SFrame({'X1':[i/200.0 for i in range(200)]})
    y_pred = model.predict(polynomial_features(x_pred,deg))
    
    # plot predictions
    plt.plot(x_pred['X1'], y_pred, 'g-', label='degree ' + str(deg) + ' fit')
    plt.legend(loc='upper left')
    plt.axis([0,1,-1.5,2])

Note: When we have so many features and so few data points, the solution can become highly numerically unstable, which can sometimes lead to strange unpredictable results.  Thus, rather than using no regularization, we will introduce a tiny amount of regularization (`l2_penalty=1e-5`) to make the solution numerically stable.  (In lecture, we discussed the fact that regularization can also help with numerical stability, and here we are seeing a practical example.)

With the L2 penalty specified above, fit the model and print out the learned weights.

Hint: make sure to add 'price' column to the new SFrame before calling `graphlab.linear_regression.create()`. Also, make sure GraphLab Create doesn't create its own validation set by using the option `validation_set=None` in this call.

In [8]:
poly15_data = polynomial_sframe(sales['sqft_living'], 15)
my_features = poly15_data.column_names() # get the name of the features
poly15_data['price'] = sales['price'] # add price to the data since it's the target
model15 = graphlab.linear_regression.create(poly15_data, target = 'price', features = my_features, 
                                            l2_penalty = l2_small_penalty, validation_set = None, verbose=False)


import graphlab
import math
import random
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import graphlab

w = list(model15.coefficients['value'])

w.reverse()
print np.poly1d(w)

           15             14             13             12
1.137e-53 x  - 3.796e-49 x  - 3.658e-46 x  + 6.905e-41 x
              11            10             9             8
 + 7.228e-37 x  - 7.29e-33 x  - 2.333e-28 x - 4.788e-25 x
              7             6             5             4             3
 + 4.512e-20 x + 1.711e-16 x - 7.772e-12 x + 5.189e-08 x - 0.0001291 x
           2
 + 0.1346 x + 103.1 x + 1.679e+05

***QUIZ QUESTION:  What's the learned value for the coefficient of feature `power_1`?***
103.1

# Observe overfitting

Recall from Week 3 that the polynomial fit of degree 15 changed wildly whenever the data changed. In particular, when we split the sales data into four subsets and fit the model of degree 15, the result came out to be very different for each subset. The model had a *high variance*. We will see in a moment that ridge regression reduces such variance. But first, we must reproduce the experiment we did in Week 3.

First, split the data into split the sales data into four subsets of roughly equal size and call them `set_1`, `set_2`, `set_3`, and `set_4`. Use `.random_split` function and make sure you set `seed=0`.

In [9]:
(semi_split1, semi_split2) = sales.random_split(.5,seed=0)
(set_1, set_2) = semi_split1.random_split(0.5, seed=0)
(set_3, set_4) = semi_split2.random_split(0.5, seed=0)

Next, fit a 15th degree polynomial on `set_1`, `set_2`, `set_3`, and `set_4`, using 'sqft_living' to predict prices. Print the weights and make a plot of the resulting model.

Hint: When calling `graphlab.linear_regression.create()`, use the same L2 penalty as before (i.e. `l2_small_penalty`).  Also, make sure GraphLab Create doesn't create its own validation set by using the option `validation_set = None` in this call.

In [11]:
poly1_data = polynomial_sframe(set_1['sqft_living'], 15)
my_features1 = poly1_data.column_names() # get the name of the features
poly1_data['price'] = set_1['price'] # add price to the data since it's the target
model1 = graphlab.linear_regression.create(poly1_data, target = 'price', features = my_features1, 
                                            l2_penalty = l2_small_penalty, validation_set = None, verbose=False)
w1 = list(model1.coefficients['value'])

w1.reverse()
print np.poly1d(w1)

            15             14           13             12
-2.338e-53 x  + 1.527e-49 x  + 3.8e-45 x  + 2.851e-41 x
              11             10             9             8
 - 1.627e-37 x  - 6.838e-33 x  - 6.928e-29 x + 1.593e-25 x
              7             6             5             4             3
 + 1.069e-20 x + 5.975e-17 x - 3.798e-13 x - 1.529e-08 x + 0.0001415 x
           2
 - 0.3973 x + 585.9 x + 9306

In [13]:
poly2_data = polynomial_sframe(set_2['sqft_living'], 15)
my_features2 = poly2_data.column_names() # get the name of the features
poly2_data['price'] = set_2['price'] # add price to the data since it's the target
model2 = graphlab.linear_regression.create(poly2_data, target = 'price', features = my_features2, 
                                            l2_penalty = l2_small_penalty, validation_set = None, verbose=False)
w2 = list(model2.coefficients['value'])

w2.reverse()
print np.poly1d(w2)

           15             14             13             12
1.301e-50 x  - 1.004e-46 x  - 1.024e-42 x  - 9.413e-40 x
              11             10             9             8
 + 6.517e-35 x  + 6.218e-31 x  - 2.713e-29 x - 4.597e-23 x
              7             6             5             4             3
 - 2.064e-19 x + 2.512e-15 x + 6.843e-12 x - 1.152e-07 x + 0.0004388 x
           2
 - 0.7678 x + 783.5 x - 2.512e+04

In [15]:
poly3_data = polynomial_sframe(set_3['sqft_living'], 15)
my_features3 = poly3_data.column_names() # get the name of the features
poly3_data['price'] = set_3['price'] # add price to the data since it's the target
model3 = graphlab.linear_regression.create(poly3_data, target = 'price', features = my_features3, 
                                            l2_penalty = l2_small_penalty, validation_set = None, verbose=False)
w3 = list(model3.coefficients['value'])

w3.reverse()
print np.poly1d(w3)

            15             14             13             12
-2.858e-51 x  + 3.556e-47 x  + 2.426e-43 x  - 1.066e-39 x
              11            10             9             8
 - 2.968e-35 x  - 1.72e-31 x  + 1.243e-27 x + 2.571e-23 x
              7             6             5             4             3
 + 4.088e-20 x - 2.082e-15 x - 2.261e-12 x + 1.154e-07 x - 0.0005283 x
          2
 + 1.029 x - 759.3 x + 4.624e+05

In [17]:
poly4_data = polynomial_sframe(set_4['sqft_living'], 15)
my_features4 = poly4_data.column_names() # get the name of the features
poly4_data['price'] = set_4['price'] # add price to the data since it's the target
model4 = graphlab.linear_regression.create(poly4_data, target = 'price', features = my_features1, 
                                            l2_penalty = l2_small_penalty, validation_set = None, verbose=False)
w4 = list(model4.coefficients['value'])

w4.reverse()
print np.poly1d(w4)

           15             14             13             12
4.395e-50 x  - 6.029e-46 x  - 1.799e-42 x  + 2.334e-38 x
              11             10             9             8
 + 2.399e-34 x  + 1.602e-31 x  - 1.324e-26 x - 7.999e-23 x
              7             6             5             4             3
 + 4.215e-19 x + 4.818e-15 x - 2.202e-11 x - 6.383e-08 x + 0.0005553 x
          2
 - 1.225 x + 1248 x - 1.702e+05

The four curves should differ from one another a lot, as should the coefficients you learned.

***QUIZ QUESTION:  For the models learned in each of these training sets, what are the smallest and largest values you learned for the coefficient of feature `power_1`?***  (For the purpose of answering this question, negative numbers are considered "smaller" than positive numbers. So -5 is smaller than -3, and -3 is smaller than 5 and so forth.)

- 759.3

# Ridge regression comes to rescue

Generally, whenever we see weights change so much in response to change in data, we believe the variance of our estimate to be large. Ridge regression aims to address this issue by penalizing "large" weights. (Weights of `model15` looked quite small, but they are not that small because 'sqft_living' input is in the order of thousands.)

With the argument `l2_penalty=1e5`, fit a 15th-order polynomial model on `set_1`, `set_2`, `set_3`, and `set_4`. Other than the change in the `l2_penalty` parameter, the code should be the same as the experiment above. Also, make sure GraphLab Create doesn't create its own validation set by using the option `validation_set = None` in this call.

In [19]:
poly1_data = polynomial_sframe(set_1['sqft_living'], 15)
my_features1 = poly1_data.column_names() # get the name of the features
poly1_data['price'] = set_1['price'] # add price to the data since it's the target
model1 = graphlab.linear_regression.create(poly1_data, target = 'price', features = my_features1, 
                                            l2_penalty = 1e5, validation_set = None, verbose=False)
w1 = list(model1.coefficients['value'])

w1.reverse()
print np.poly1d(w1)

           15             14             13             12
3.601e-58 x  + 5.845e-54 x  + 9.392e-50 x  + 1.498e-45 x
              11             10             9             8
 + 2.382e-41 x  + 3.789e-37 x  + 6.066e-33 x + 9.861e-29 x
             7             6             5            4             3
 + 1.65e-24 x + 2.896e-20 x + 5.422e-16 x + 1.06e-11 x + 1.749e-07 x
             2
 + 0.001274 x + 2.587 x + 5.303e+05

In [ ]:
poly2_data = polynomial_sframe(set_2['sqft_living'], 15)
my_features2 = poly2_data.column_names() # get the name of the features
poly2_data['price'] = set_2['price'] # add price to the data since it's the target
model2 = graphlab.linear_regression.create(poly2_data, target = 'price', features = my_features2, 
                                            l2_penalty = 1e5, validation_set = None, verbose=False)
w2 = list(model2.coefficients['value'])

w2.reverse()
print np.poly1d(w2)

In [17]:
poly3_data = polynomial_sframe(set_3['sqft_living'], 15)
my_features3 = poly3_data.column_names() # get the name of the features
poly3_data['price'] = set_3['price'] # add price to the data since it's the target
model3 = graphlab.linear_regression.create(poly3_data, target = 'price', features = my_features3, 
                                            l2_penalty = 1e5, validation_set = None, verbose=False)
w3 = list(model3.coefficients['value'])

w3.reverse()
print numpy.poly1d(w3)

           15             14             13             12
1.917e-55 x  + 1.912e-51 x  + 1.911e-47 x  + 1.915e-43 x
              11             10             9             8
 + 1.927e-39 x  + 1.954e-35 x  + 2.004e-31 x + 2.093e-27 x
              7             6             5             4             3
 + 2.247e-23 x + 2.501e-19 x + 2.876e-15 x + 3.209e-11 x + 2.776e-07 x
             2
 + 0.001259 x + 2.269 x + 5.229e+05

In [18]:
poly4_data = polynomial_sframe(set_4['sqft_living'], 15)
my_features4 = poly4_data.column_names() # get the name of the features
poly4_data['price'] = set_4['price'] # add price to the data since it's the target
model4 = graphlab.linear_regression.create(poly4_data, target = 'price', features = my_features1, 
                                            l2_penalty = 1e5, validation_set = None, verbose=False)
w4 = list(model4.coefficients['value'])

w4.reverse()
print numpy.poly1d(w4)

           15             14            13             12
2.679e-54 x  + 2.275e-50 x  + 1.94e-46 x  + 1.663e-42 x
              11             10             9             8
 + 1.436e-38 x  + 1.253e-34 x  + 1.108e-30 x + 9.957e-27 x
              7            6             5             4             3
 + 9.065e-23 x + 8.25e-19 x + 7.205e-15 x + 5.501e-11 x + 3.128e-07 x
             2
 + 0.001101 x + 1.91 x + 5.137e+05

These curves should vary a lot less, now that you applied a high degree of regularization.

***QUIZ QUESTION:  For the models learned with the high level of regularization in each of these training sets, what are the smallest and largest values you learned for the coefficient of feature `power_1`?*** (For the purpose of answering this question, negative numbers are considered "smaller" than positive numbers. So -5 is smaller than -3, and -3 is smaller than 5 and so forth.)

1.91

# Selecting an L2 penalty via cross-validation

Just like the polynomial degree, the L2 penalty is a "magic" parameter we need to select. We could use the validation set approach as we did in the last module, but that approach has a major disadvantage: it leaves fewer observations available for training. **Cross-validation** seeks to overcome this issue by using all of the training set in a smart way.

We will implement a kind of cross-validation called **k-fold cross-validation**. The method gets its name because it involves dividing the training set into k segments of roughtly equal size. Similar to the validation set method, we measure the validation error with one of the segments designated as the validation set. The major difference is that we repeat the process k times as follows:

Set aside segment 0 as the validation set, and fit a model on rest of data, and evalutate it on this validation set<br>
Set aside segment 1 as the validation set, and fit a model on rest of data, and evalutate it on this validation set<br>
...<br>
Set aside segment k-1 as the validation set, and fit a model on rest of data, and evalutate it on this validation set

After this process, we compute the average of the k validation errors, and use it as an estimate of the generalization error. Notice that  all observations are used for both training and validation, as we iterate over segments of data. 

To estimate the generalization error well, it is crucial to shuffle the training data before dividing them into segments. GraphLab Create has a utility function for shuffling a given SFrame. We reserve 10% of the data as the test set and shuffle the remainder. (Make sure to use `seed=1` to get consistent answer.)

In [19]:
(train_valid, test) = sales.random_split(.9, seed=1)
train_valid_shuffled = graphlab.toolkits.cross_validation.shuffle(train_valid, random_seed=1)

Once the data is shuffled, we divide it into equal segments. Each segment should receive `n/k` elements, where `n` is the number of observations in the training set and `k` is the number of segments. Since the segment 0 starts at index 0 and contains `n/k` elements, it ends at index `(n/k)-1`. The segment 1 starts where the segment 0 left off, at index `(n/k)`. With `n/k` elements, the segment 1 ends at index `(n*2/k)-1`. Continuing in this fashion, we deduce that the segment `i` starts at index `(n*i/k)` and ends at `(n*(i+1)/k)-1`.

With this pattern in mind, we write a short loop that prints the starting and ending indices of each segment, just to make sure you are getting the splits right.

In [20]:
n = len(train_valid_shuffled)
k = 10 # 10-fold cross-validation

for i in xrange(k):
    start = (n*i)/k
    end = (n*(i+1))/k-1
    print i, (start, end)

0 (0, 1938)
1 (1939, 3878)
2 (3879, 5817)
3 (5818, 7757)
4 (7758, 9697)
5 (9698, 11636)
6 (11637, 13576)
7 (13577, 15515)
8 (15516, 17455)
9 (17456, 19395)

Let us familiarize ourselves with array slicing with SFrame. To extract a continuous slice from an SFrame, use colon in square brackets. For instance, the following cell extracts rows 0 to 9 of `train_valid_shuffled`. Notice that the first index (0) is included in the slice but the last index (10) is omitted.

In [21]:
train_valid_shuffled[0:10] # rows 0 to 9

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 2780400035 | 2014-05-05 00:00:00+00:00 | 665000.0 |   4.0    |    2.5    |
| 1703050500 | 2015-03-21 00:00:00+00:00 | 645000.0 |   3.0    |    2.5    |
| 5700002325 | 2014-06-05 00:00:00+00:00 | 640000.0 |   3.0    |    1.75   |
| 0475000510 | 2014-11-18 00:00:00+00:00 | 594000.0 |   3.0    |    1.0    |
| 0844001052 | 2015-01-28 00:00:00+00:00 | 365000.0 |   4.0    |    2.5    |
| 2781280290 | 2015-04-27 00:00:00+00:00 | 305000.0 |   3.0    |    2.5    |
| 2214800630 | 2014-11-05 00:00:00+00:00 | 239950.0 |   3.0    |    2.25   |
| 2114700540 | 2014-10-21 00:00:00+00:00 | 366000.0 |   3.0    |    2.5    |
| 2596400050 | 2014-07-30 00:00:00+00:00 | 375000.0 |   3.0    |    1.0    |
| 4140900050 | 2015-01-26 00:00:00+00:00 | 440000.0 |   4.0    |    1.75   |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    2800.0   |   5900   |   1    |     0      |  0   |     3     |   8   |    1660    |
|    2490.0   |   5978   |   2    |     0      |  0   |     3     |   9   |    2490    |
|    2340.0   |   4206   |   1    |     0      |  0   |     5     |   7   |    1170    |
|    1320.0   |   5000   |   1    |     0      |  0   |     4     |   7   |    1090    |
|    1904.0   |   8200   |   2    |     0      |  0   |     5     |   7   |    1904    |
|    1610.0   |   3516   |   2    |     0      |  0   |     3     |   8   |    1610    |
|    1560.0   |   8280   |   2    |     0      |  0   |     4     |   7   |    1560    |
|    1320.0   |   4320   |   1    |     0      |  0   |     3     |   6   |    660     |
|    1960.0   |   7955   |   1    |     0      |  0   |     4     |   7   |    1260    |
|    2180.0   |  10200   |   1    |     0      |  2   |     3     |   8   |    2000    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|      1140     |   1963   |      0       |  98115  | 47.68093246 |
|       0       |   2003   |      0       |  98074  | 47.62984888 |
|      1170     |   1917   |      0       |  98144  | 47.57587004 |
|      230      |   1920   |      0       |  98107  | 47.66737217 |
|       0       |   1999   |      0       |  98010  | 47.31068733 |
|       0       |   2006   |      0       |  98055  | 47.44911017 |
|       0       |   1979   |      0       |  98001  | 47.33933392 |
|      660      |   1918   |      0       |  98106  | 47.53271982 |
|      700      |   1963   |      0       |  98177  | 47.76407345 |
|      180      |   1966   |      0       |  98028  | 47.76382378 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.28583258 |     2580.0    | ... |
| -122.02177564 |     2710.0    | ... |
|   -122.28796  |     1360.0    | ... |
| -122.36472902 |     1700.0    | ... |
|  -122.0012452 |     1560.0    | ... |
|  -122.1878086 |     1610.0    | ... |
| -122.25864364 |     1920.0    | ... |
| -122.34716948 |     1190.0    | ... |
| -122.36361517 |     1850.0    | ... |
| -122.27022456 |     2590.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

Now let us extract individual segments with array slicing. Consider the scenario where we group the houses in the `train_valid_shuffled` dataframe into k=10 segments of roughly equal size, with starting and ending indices computed as above.
Extract the fourth segment (segment 3) and assign it to a variable called `validation4`.

In [22]:
validation4 = train_valid_shuffled[5818:7757+1] 
print validation4

+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 3342102880 | 2014-08-11 00:00:00+00:00 | 464000.0 |   3.0    |    2.5    |
| 5113400364 | 2015-01-26 00:00:00+00:00 | 650000.0 |   4.0    |    1.5    |
| 0984210170 | 2015-03-26 00:00:00+00:00 | 256500.0 |   5.0    |    2.5    |
| 6117501755 | 2014-12-30 00:00:00+00:00 | 355000.0 |   4.0    |    1.5    |
| 4307300520 | 2015-04-23 00:00:00+00:00 | 359000.0 |   4.0    |    2.5    |
| 2205700345 | 2014-07-07 00:00:00+00:00 | 500000.0 |   4.0    |    2.0    |
| 2518400046 | 2014-11-18 00:00:00+00:00 | 456700.0 |   3.0    |    1.75   |
| 4037000925 | 2015-03-27 00:00:00+00:00 | 650000.0 |   5.0    |    2.25   |
| 6400700389 | 2014-07-10 00:00:00+00:00 | 875000.0 |   5.0    |    3.0    |
| 1422200090 | 2014-09-15 00:00:00+00:00 | 676500.0 |   3.0    |    1.75   |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    2460.0   |   5400   |   1    |     0      |  0   |     4     |   8   |    1520    |
|    2480.0   |   6383   |   1    |     0      |  0   |     3     |   7   |    1380    |
|    1960.0   |   7350   |   1    |     0      |  0   |     4     |   7   |    1360    |
|    2230.0   |  11536   |   1    |     0      |  1   |     4     |   7   |    1220    |
|    2160.0   |   4500   |   2    |     0      |  0   |     3     |   7   |    2160    |
|    1700.0   |   8640   |   1    |     0      |  0   |     3     |   7   |    850     |
|    2820.0   |   8879   |   1    |     0      |  0   |     5     |   7   |    1540    |
|    2400.0   |  13450   |   1    |     0      |  0   |     5     |   7   |    1200    |
|    2960.0   |  15152   |   2    |     0      |  0   |     3     |   9   |    2960    |
|    1300.0   |   2446   |   1    |     0      |  3   |     3     |   8   |    880     |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|      940      |   2001   |      0       |  98056  | 47.52306154 |
|      1100     |   1946   |      0       |  98119  | 47.64453024 |
|      600      |   1969   |      0       |  98058  | 47.43683519 |
|      1010     |   1954   |      0       |  98166  | 47.44093899 |
|       0       |   2002   |      0       |  98056  | 47.48190195 |
|      850      |   1955   |     2010     |  98006  | 47.57740891 |
|      1280     |   1920   |     1957     |  98146  | 47.50941164 |
|      1200     |   1957   |      0       |  98008  | 47.60065127 |
|       0       |   2004   |      0       |  98033  |  47.6688659 |
|      420      |   1961   |      0       |  98122  | 47.60712689 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.20192581 |     1745.0    | ... |
| -122.37387334 |     1440.0    | ... |
| -122.16517391 |     1900.0    | ... |
| -122.34766805 |     2170.0    | ... |
| -122.18214778 |     2160.0    | ... |
| -122.15341867 |     1620.0    | ... |
| -122.37625093 |     1640.0    | ... |
| -122.11687972 |     1950.0    | ... |
| -122.17936814 |     1850.0    | ... |
| -122.28486411 |     2440.0    | ... |
+---------------+---------------+-----+
[1940 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

To verify that we have the right elements extracted, run the following cell, which computes the average price of the fourth segment. When rounded to nearest whole number, the average should be $536,234.

In [23]:
print int(round(validation4['price'].mean(), 0))

536234

After designating one of the k segments as the validation set, we train a model using the rest of the data. To choose the remainder, we slice (0:start) and (end+1:n) of the data and paste them together. SFrame has `append()` method that pastes together two disjoint sets of rows originating from a common dataset. For instance, the following cell pastes together the first and last two rows of the `train_valid_shuffled` dataframe.

In [24]:
n = len(train_valid_shuffled)
first_two = train_valid_shuffled[0:2]
last_two = train_valid_shuffled[n-2:n]
print first_two.append(last_two)

+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 2780400035 | 2014-05-05 00:00:00+00:00 |  665000.0 |   4.0    |    2.5    |
| 1703050500 | 2015-03-21 00:00:00+00:00 |  645000.0 |   3.0    |    2.5    |
| 4139480190 | 2014-09-16 00:00:00+00:00 | 1153000.0 |   3.0    |    3.25   |
| 7237300290 | 2015-03-26 00:00:00+00:00 |  338000.0 |   5.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    2800.0   |   5900   |   1    |     0      |  0   |     3     |   8   |    1660    |
|    2490.0   |   5978   |   2    |     0      |  0   |     3     |   9   |    2490    |
|    3780.0   |  10623   |   1    |     0      |  1   |     3     |   11  |    2650    |
|    2400.0   |   4496   |   2    |     0      |  0   |     3     |   7   |    2400    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|      1140     |   1963   |      0       |  98115  | 47.68093246 |
|       0       |   2003   |      0       |  98074  | 47.62984888 |
|      1130     |   1999   |      0       |  98006  | 47.55061236 |
|       0       |   2004   |      0       |  98042  | 47.36923712 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.28583258 |     2580.0    | ... |
| -122.02177564 |     2710.0    | ... |
| -122.10144844 |     3850.0    | ... |
| -122.12606473 |     1880.0    | ... |
+---------------+---------------+-----+
[4 rows x 21 columns]

Extract the remainder of the data after *excluding* fourth segment (segment 3) and assign the subset to `train4`.

In [25]:
first_parts = train_valid_shuffled[0:5818]
reminder_parts = train_valid_shuffled[7757+1:19395+1]
train4 = first_parts.append(reminder_parts)

To verify that we have the right elements extracted, run the following cell, which computes the average price of the data with fourth segment excluded. When rounded to nearest whole number, the average should be $539,450.

In [26]:
print int(round(train4['price'].mean(), 0))

539450

Now we are ready to implement k-fold cross-validation. Write a function that computes k validation errors by designating each of the k segments as the validation set. It accepts as parameters (i) `k`, (ii) `l2_penalty`, (iii) dataframe, (iv) name of output column (e.g. `price`) and (v) list of feature names. The function returns the average validation error using k segments as validation sets.

* For each i in [0, 1, ..., k-1]:
  * Compute starting and ending indices of segment i and call 'start' and 'end'
  * Form validation set by taking a slice (start:end+1) from the data.
  * Form training set by appending slice (end+1:n) to the end of slice (0:start).
  * Train a linear model using training set just formed, with a given l2_penalty
  * Compute validation error using validation set just formed

In [60]:
k=15
sales = sales.sort(['sqft_living', 'price'])
poly1_data = polynomial_sframe(sales['sqft_living'], 15)
poly1_data['price'] = sales['price'] # add price to the data since it's the target
data = poly1_data
num_folds = k
folds = graphlab.cross_validation.KFold(data,num_folds)
penalty_values = np.logspace(1,7,num=13)

for l2_penalty in penalty_values:
        next_mse = 0.0
        for train_set, validation_set in folds:
            # train model
            model = graphlab.linear_regression.create(data,target='price', 
                                                      l2_penalty=l2_penalty,
                                                      validation_set=None,verbose=False)
            
            # predict on validation set 
            y_test_predicted = model.predict(validation_set)
            # compute squared error
            next_mse += ((y_test_predicted-validation_set['price'])**2).sum()
        
        # save squared error in list of MSE for each l2_penalty
        next_mse = next_mse/num_folds
print train_set
print validation_set

+---------+----------+------------+---------------+-------------------+
| power_1 | power_2  |  power_3   |    power_4    |      power_5      |
+---------+----------+------------+---------------+-------------------+
|  290.0  | 84100.0  | 24389000.0 |  7072810000.0 |   2.0511149e+12   |
|  370.0  | 136900.0 | 50653000.0 | 18741610000.0 |   6.9343957e+12   |
|  380.0  | 144400.0 | 54872000.0 | 20851360000.0 |   7.9235168e+12   |
|  384.0  | 147456.0 | 56623104.0 | 21743271936.0 | 8.34941642342e+12 |
|  390.0  | 152100.0 | 59319000.0 | 23134410000.0 |   9.0224199e+12   |
|  390.0  | 152100.0 | 59319000.0 | 23134410000.0 |   9.0224199e+12   |
|  410.0  | 168100.0 | 68921000.0 | 28257610000.0 |   1.15856201e+13  |
|  420.0  | 176400.0 | 74088000.0 | 31116960000.0 |   1.30691232e+13  |
|  420.0  | 176400.0 | 74088000.0 | 31116960000.0 |   1.30691232e+13  |
|  430.0  | 184900.0 | 79507000.0 | 34188010000.0 |   1.47008443e+13  |
+---------+----------+------------+---------------+-------------------+
+-------------------+-------------------+-------------------+-------------------+
|      power_6      |      power_7      |      power_8      |      power_9      |
+-------------------+-------------------+-------------------+-------------------+
|   5.94823321e+14  |  1.7249876309e+17 | 5.00246412961e+19 | 1.45071459759e+22 |
|  2.565726409e+15  |  9.4931877133e+17 | 3.51247945392e+20 | 1.29961739795e+23 |
|  3.010936384e+15  | 1.14415582592e+18 |  4.3477921385e+20 | 1.65216101263e+23 |
| 3.20617590659e+15 | 1.23117154813e+18 | 4.72769874483e+20 | 1.81543631801e+23 |
|  3.518743761e+15  | 1.37231006679e+18 | 5.35200926048e+20 | 2.08728361159e+23 |
|  3.518743761e+15  | 1.37231006679e+18 | 5.35200926048e+20 | 2.08728361159e+23 |
|  4.750104241e+15  | 1.94754273881e+18 | 7.98492522912e+20 | 3.27381934394e+23 |
|  5.489031744e+15  | 2.30539333248e+18 | 9.68265199642e+20 | 4.06671383849e+23 |
|  5.489031744e+15  | 2.30539333248e+18 | 9.68265199642e+20 | 4.06671383849e+23 |
|  6.321363049e+15  | 2.71818611107e+18 | 1.16882002776e+21 | 5.02592611937e+23 |
+-------------------+-------------------+-------------------+-------------------+
+-------------------+-------------------+-------------------+-------------------+
|      power_10     |      power_11     |      power_12     |      power_13     |
+-------------------+-------------------+-------------------+-------------------+
|  4.207072333e+24  | 1.22005097657e+27 | 3.53814783205e+29 |  1.0260628713e+32 |
| 4.80858437242e+25 | 1.77917621779e+28 | 6.58295200584e+30 | 2.43569224216e+33 |
| 6.27821184799e+25 | 2.38572050224e+28 | 9.06573790849e+30 | 3.44498040523e+33 |
| 6.97127546117e+25 | 2.67696977709e+28 |  1.0279563944e+31 | 3.94735255451e+33 |
| 8.14040608519e+25 | 3.17475837322e+28 | 1.23815576556e+31 | 4.82880748567e+33 |
| 8.14040608519e+25 | 3.17475837322e+28 | 1.23815576556e+31 | 4.82880748567e+33 |
| 1.34226593102e+26 | 5.50329031716e+28 | 2.25634903004e+31 | 9.25103102315e+33 |
| 1.70801981217e+26 |  7.1736832111e+28 | 3.01294694866e+31 | 1.26543771844e+34 |
| 1.70801981217e+26 |  7.1736832111e+28 | 3.01294694866e+31 | 1.26543771844e+34 |
| 2.16114823133e+26 | 9.29293739471e+28 | 3.99596307973e+31 | 1.71826412428e+34 |
+-------------------+-------------------+-------------------+-------------------+
+-------------------+-------------------+----------+
|      power_14     |      power_15     |  price   |
+-------------------+-------------------+----------+
| 2.97558232676e+34 |  8.6291887476e+36 | 142000.0 |
|  9.012061296e+35  | 3.33446267952e+38 | 276000.0 |
| 1.30909255399e+36 | 4.97455170515e+38 | 245000.0 |
| 1.51578338093e+36 | 5.82060818277e+38 | 265000.0 |
| 1.88323491941e+36 | 7.34461618571e+38 | 228000.0 |
| 1.88323491941e+36 | 7.34461618571e+38 | 245000.0 |
| 3.79292271949e+36 | 1.55509831499e+39 | 325000.0 |
| 5.31483841744e+36 | 2.23223213533e+39 | 229050.0 |
| 5.31483841744e+36 | 2.23223213533e+39 | 280000.0 |
| 7.38853573441e+36 |  3.1770703658e+39 | 80000.0  |
+-------------------+-------------------+----------+
[20173 rows x 16 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.
+---------+------------+---------------+-------------------+-------------------+
| power_1 |  power_2   |    power_3    |      power_4      |      power_5      |
+---------+------------+---------------+-------------------+-------------------+
|  3550.0 | 12602500.0 | 44738875000.0 |  1.5882300625e+14 | 5.63821672188e+17 |
|  3550.0 | 12602500.0 | 44738875000.0 |  1.5882300625e+14 | 5.63821672188e+17 |
|  3550.0 | 12602500.0 | 44738875000.0 |  1.5882300625e+14 | 5.63821672188e+17 |
|  3550.0 | 12602500.0 | 44738875000.0 |  1.5882300625e+14 | 5.63821672188e+17 |
|  3550.0 | 12602500.0 | 44738875000.0 |  1.5882300625e+14 | 5.63821672188e+17 |
|  3550.0 | 12602500.0 | 44738875000.0 |  1.5882300625e+14 | 5.63821672188e+17 |
|  3550.0 | 12602500.0 | 44738875000.0 |  1.5882300625e+14 | 5.63821672188e+17 |
|  3555.0 | 12638025.0 | 44928178875.0 | 1.59719675901e+14 | 5.67803447827e+17 |
|  3560.0 | 12673600.0 | 45118016000.0 |  1.6062013696e+14 | 5.71807687578e+17 |
|  3560.0 | 12673600.0 | 45118016000.0 |  1.6062013696e+14 | 5.71807687578e+17 |
+---------+------------+---------------+-------------------+-------------------+
+-------------------+-------------------+-------------------+-------------------+
|      power_6      |      power_7      |      power_8      |      power_9      |
+-------------------+-------------------+-------------------+-------------------+
| 2.00156693627e+21 | 7.10556262374e+24 | 2.52247473143e+28 | 8.95478529657e+31 |
| 2.00156693627e+21 | 7.10556262374e+24 | 2.52247473143e+28 | 8.95478529657e+31 |
| 2.00156693627e+21 | 7.10556262374e+24 | 2.52247473143e+28 | 8.95478529657e+31 |
| 2.00156693627e+21 | 7.10556262374e+24 | 2.52247473143e+28 | 8.95478529657e+31 |
| 2.00156693627e+21 | 7.10556262374e+24 | 2.52247473143e+28 | 8.95478529657e+31 |
| 2.00156693627e+21 | 7.10556262374e+24 | 2.52247473143e+28 | 8.95478529657e+31 |
| 2.00156693627e+21 | 7.10556262374e+24 | 2.52247473143e+28 | 8.95478529657e+31 |
| 2.01854125702e+21 | 7.17591416872e+24 | 2.55103748698e+28 | 9.06893826621e+31 |
| 2.03563536778e+21 | 7.24686190928e+24 |  2.5798828397e+28 | 9.18438290935e+31 |
| 2.03563536778e+21 | 7.24686190928e+24 |  2.5798828397e+28 | 9.18438290935e+31 |
+-------------------+-------------------+-------------------+-------------------+
+-------------------+-------------------+-------------------+-------------------+
|      power_10     |      power_11     |      power_12     |      power_13     |
+-------------------+-------------------+-------------------+-------------------+
| 3.17894878028e+35 |  1.128526817e+39  | 4.00627020035e+42 | 1.42222592112e+46 |
| 3.17894878028e+35 |  1.128526817e+39  | 4.00627020035e+42 | 1.42222592112e+46 |
| 3.17894878028e+35 |  1.128526817e+39  | 4.00627020035e+42 | 1.42222592112e+46 |
| 3.17894878028e+35 |  1.128526817e+39  | 4.00627020035e+42 | 1.42222592112e+46 |
| 3.17894878028e+35 |  1.128526817e+39  | 4.00627020035e+42 | 1.42222592112e+46 |
| 3.17894878028e+35 |  1.128526817e+39  | 4.00627020035e+42 | 1.42222592112e+46 |
| 3.17894878028e+35 |  1.128526817e+39  | 4.00627020035e+42 | 1.42222592112e+46 |
| 3.22400755364e+35 | 1.14613468532e+39 | 4.07450880631e+42 | 1.44848788064e+46 |
| 3.26964031573e+35 |  1.1639919524e+39 | 4.14381135054e+42 | 1.47519684079e+46 |
| 3.26964031573e+35 |  1.1639919524e+39 | 4.14381135054e+42 | 1.47519684079e+46 |
+-------------------+-------------------+-------------------+-------------------+
+-------------------+-------------------+-----------+
|      power_14     |      power_15     |   price   |
+-------------------+-------------------+-----------+
| 5.04890201999e+49 |  1.7923602171e+53 |  880000.0 |
| 5.04890201999e+49 |  1.7923602171e+53 |  895000.0 |
| 5.04890201999e+49 |  1.7923602171e+53 |  920000.0 |
| 5.04890201999e+49 |  1.7923602171e+53 |  952990.0 |
| 5.04890201999e+49 |  1.7923602171e+53 |  959900.0 |
| 5.04890201999e+49 |  1.7923602171e+53 | 1355000.0 |
| 5.04890201999e+49 |  1.7923602171e+53 | 2100000.0 |
| 5.14937441568e+49 | 1.83060260478e+53 |  895990.0 |
| 5.25170075322e+49 | 1.86960546815e+53 |  389000.0 |
| 5.25170075322e+49 | 1.86960546815e+53 |  435000.0 |
+-------------------+-------------------+-----------+
[1440 rows x 16 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Once we have a function to compute the average validation error for a model, we can write a loop to find the model that minimizes the average validation error. Write a loop that does the following:
* We will again be aiming to fit a 15th-order polynomial model using the `sqft_living` input
* For `l2_penalty` in [10^1, 10^1.5, 10^2, 10^2.5, ..., 10^7] (to get this in Python, you can use this Numpy function: `np.logspace(1, 7, num=13)`.)
    * Run 10-fold cross-validation with `l2_penalty`
* Report which L2 penalty produced the lowest average validation error.

Note: since the degree of the polynomial is now fixed to 15, to make things faster, you should generate polynomial features in advance and re-use them throughout the loop. Make sure to use `train_valid_shuffled` when generating polynomial features!

In [79]:
penalty_values = np.logspace(1,7,num=13)

(train_valid, test) = sales.random_split(.9, seed=1)
train_valid_shuffled = graphlab.toolkits.cross_validation.shuffle(train_valid, random_seed=1)
poly2_data = polynomial_sframe(train_valid_shuffled['sqft_living'], 15)
my_features = poly2_data.column_names() # get the name of the features
poly2_data['price'] = train_valid_shuffled['price'] # add price to the data since it's the target
my_features
#k_fold_cross_validation(15, penalty_values, train_valid_shuffled, 'price', my_features)

['power_1',
 'power_2',
 'power_3',
 'power_4',
 'power_5',
 'power_6',
 'power_7',
 'power_8',
 'power_9',
 'power_10',
 'power_11',
 'power_12',
 'power_13',
 'power_14',
 'power_15']

***QUIZ QUESTIONS:  What is the best value for the L2 penalty according to 10-fold validation?***

You may find it useful to plot the k-fold cross-validation errors you have obtained to better understand the behavior of the method.

In [85]:
# Plot the l2_penalty values in the x axis and the cross-validation error in the y axis.
# Using plt.xscale('log') will make your plot more intuitive.

print train_set

NameError: name 'train_set' is not defined

Once you found the best value for the L2 penalty using cross-validation, it is important to retrain a final model on all of the training data using this value of `l2_penalty`.  This way, your final model will be trained on the entire dataset.

***QUIZ QUESTION: Using the best L2 penalty found above, train a model using all training data. What is the RSS on the TEST data of the model you learn with this L2 penalty? ***